{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand brand-logo" href="/">Domoarigato</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <a href="{{ url_for('home') }}" class="nav-item nav-link {{'active' if request.path == url_for('home') }}">
        Home</a>

      {% if current_user.is_authenticated %}

      <a href="" class="nav-item nav-link"> New ADs</a>


      <a href="" class="nav-item nav-link"> Scheduled ADs</a>


      <a href="" class="nav-item nav-link"> Expired ADs</a>

    </ul>

    <a href="{{ url_for('users.logout') }}" class="nav-item nav-link"> Log Out</a>

    {% else %}
    <div class="navbar-nav">

      <a href="{{ url_for('users.sign_up') }}" class="nav-item nav-link">Sign Up</a>


      <a href="{{ url_for('users.sign_in') }}" class="nav-item nav-link">Log In</a>
    </div>


    {% endif %}

  </div>
</nav>

{% include "_flash_message.html" %} {% endblock navbar %}